# Default ignored files
*.xml
*.md
/shelf/
/workspace.xml
git rm --cached D:\Java\geo-service\src\test\java\GeoServiceImplTest.java
git rm --cached D:\Java\geo-service\src\test\java\LocalizationServiceImplTest.java
git rm --cached D:\Java\geo-service\src\test\java\MessageSenderImplTest.java