# Default ignored files
*.xml
*.md
/shelf/
/workspace.xml
D:\Java\geo-service\src\test\java\GeoServiceImplTest.java
D:\Java\geo-service\src\test\java\LocalizationServiceImplTest.java
D:\Java\geo-service\src\test\java\MessageSenderImplTest.java